@import 'assets/styles/variable.scss';

.button {
  font-weight: 900;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  padding: 1rem 4rem;
  transition: all 0.2s;
  background-color: $main-color;
  color: $white-color;
  box-shadow: 0px 5px 0px 0px $main-accent-color;
  margin: 10px 0px 10px 0;
  &.active {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: $main-accent-color;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  &:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: $main-accent-color;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@include breakpoint(md) {
  .button {
    padding: 1rem 3rem;
  }
}

@include breakpoint(sm) {
  .button {
    padding: 1rem 2rem;
  }
}
