@import '../../../assets/styles/variable.scss';

.address {
  font-size: 20px;

  > ul {
    > li {
      // margin: 5px;
      display: flex;
      // border-style: solid;
      // border-width: 2px;
      // border-color: $main-color;
      height: 50px;
    }
  }
}

.buttonMargin {
  margin-left: 20px;
  position: relative;
  width: 100%;
}
