@import 'assets/styles/variable.scss';
@import 'assets/styles/font.scss';
.container {
  // margin-top: 5rem;
  // display: flex;
  justify-content: center;
  margin: 10px;
  &-search {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

    &-inner {
      display: flex;

      & > span {
        margin: 10px;
        > select {
          width: auto;
          font-size: 20px;
          font-family: $spoqa-font;
        }
      }
    }
  }

  &-newButton {
    display: flex;
    justify-content: flex-end;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 2rem;
  column-gap: 1.5rem;
}

@include breakpoint(md) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include breakpoint(sm) {
  .list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
