@import 'assets/styles/variable.scss';
@import 'assets/styles/index.scss';

.detail-container {
  margin: 4rem 0;
  transition: all 0.2s;
  position: relative;
}

.detail-title {
  font-size: 3rem;
  font-weight: 700;
  color: $main-accent-color;
  margin-bottom: 1rem;
  &::after {
    margin-top: 2rem;
    display: block;
    content: '';
    width: 100%;
    border: 0.5px solid $gray-color;
  }
}

.sub-title {
  display: flex;
  color: #a3a3a3;
}

.detail-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: center;
  color: white !important;
}

.detail-btn {
  background-color: #a1887f;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.detail-view-row {
  display: inline;
  margin-right: 0.5rem;
}

.detail-img-box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.detail-img {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: black 1px solid;
}

.img {
  width: 300px;
  height: 150px;
  object-fit: scale-down;
}

.detail-view-content {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  min-width: 35rem;
  height: 100%;
}

@include breakpoint(md) {
  .detail-container {
    margin: 3rem 0;
  }
}

@include breakpoint(sm) {
  .detail-container {
    margin: 2rem 0;
  }
}

.detail-comment {
  margin-top: 3rem;
}

.detail-comment-write {
  text-align: center;
}

.detail-comment-list {
}

.detail-main {
  float: center;
}

.soojung {
  color: white;
}
