// .nav {
//   border: 2px red;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 4px;
//   margin: 16px;
// }

// .btn {
//   border: red($color: #000000);
//   border-radius: 8px;
//   padding: 8px;
//   margin: 0;
//   background: black;
//   color: white;
//   font-size: 1rem;

//   &:hover {
//     background: tomato;
//     cursor: pointer;
//     transform: translateY(-2px);
//   }

//   &[disabled] {
//     background: grey;
//     cursor: revert;
//     transform: revert;
//   }

//   &[aria-current] {
//     background: deeppink;
//     font-weight: bold;
//     cursor: revert;
//     transform: revert;
//   }
// }

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
  padding-top: 10px;
}
.paginate-ctn {
  display: flex;
}
.round-effect {
  color: #5d6dbe;
  cursor: pointer;
  /*   border:1px solid red; */

  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.round-effect:hover {
  text-decoration: none;
  background: #5d6dbe;
  color: #fff;
}
.round-effect:hover a {
  text-decoration: none;
  color: #5d6dbe;
}

.active {
  background: #5d6dbe;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #5d6dbe;
}
