@import 'assets/styles/variable.scss';

.main {
  display: flex;
  gap: 2rem;
}
.info-box {
  font-size: 2rem;
  flex: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  & > .title-box {
    font-size: 2.4rem;
    color: $white-color;
    padding: 1rem $spacing-lg;
    border-radius: 0.4rem;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.info {
  padding: 1rem 1.5rem;
}
.info-item {
  display: flex;
  gap: 1rem;
}
.info-value {
  flex: 1;
}

.map {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

@include breakpoint(md) {
}

@include breakpoint(sm) {
  .main {
    flex-direction: column;
  }
}
