@import 'assets/styles/variable.scss';

.main {
  display: flex;
  gap: 2rem;
}
.info-box {
  font-size: 2rem;
  flex: 1;
}

@include breakpoint(md) {
}

@include breakpoint(sm) {
  .main {
    flex-direction: column;
  }
}
