@import 'assets/styles/variable.scss';

.container {
  margin-top: 5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  & > span {
    font-size: 2.2rem;
    font-weight: 700;
    color: $main-color;
  }
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  transition: all $response-transition-time;
  overflow-x: auto;
  white-space: nowrap;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color !important;
  border-radius: 30px;
  cursor: pointer;
}
