.desc-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.4rem;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.content {
  text-align: center;
  font-size: 1.2rem;
}
