@import 'assets/styles/variable.scss';

.container {
  margin: 5rem 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  & > span {
    font-size: 2.2rem;
    font-weight: 900;
    color: $blue-color;
  }
}
