@import 'assets/styles/variable.scss';
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $white-color;
}

.nav {
  position: relative;
  width: 100%;
}

.container-inner {
  position: relative;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

// responsive css
// 640 ~ 1024
@include breakpoint(md) {
  .container-inner {
    font-size: 1.6rem;
  }
}

// 0 ~ 640
@include breakpoint(sm) {
  .menu-box {
    display: none;
  }
}
