@import 'assets/styles/variable.scss';

.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  & > img {
    width: 20rem;
  }
  & > span {
    font-weight: 900;
    font-size: 2.4rem;
    margin-top: 1rem;
  }
}
