@import 'assets/styles/variable.scss';

.main-result {
  width: 80%;
  background-color: $white-color;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  width: 100%;
  height: 52px;
  text-align: center;
  line-height: 52px;
  color: $white-color;
  background-color: $mbti-btn-color;
  user-select: none;

  & > span {
    font-weight: 700;
    background-color: white;
    // background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
.result {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  & > span {
    font-weight: 900;
    font-size: larger;
    font-family: Sunflower;
    user-select: none;
  }
  & > span:first-child {
    margin-right: 0.4rem;
  }
}

.img-box {
  & > img {
    width: 100%;
  }
}

.desc-box {
  width: 80%;
  background-color: $white-color;
  border-radius: 0.8rem;
  font-size: 1.7rem;
  box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.7);
  padding: 3rem;
  margin-top: 2rem;
  & > p {
    line-height: 1.5;
    & > span {
      font-size: 1.8rem;
      color: $map-hover-color;
      font-weight: 700;
    }
  }
}

.btn-box {
  margin-top: 5rem;
  & > a {
    font-size: 1.4rem;
  }
}

.highlight {
  font-size: 1.8rem;
  color: $mbti-btn-color;
  font-weight: 700;
  display: inline-table;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.35s;
  }
}

.link:hover .highlight::before {
  left: 0;
}

.retry {
  width: 80%;
  background-color: $mbti-btn-color;
  border-radius: 0.8rem;
  padding: 1.4rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: $white-color;
  transition: all 0.3s;
  &:hover {
    background-color: #694e4edc;
  }
}

.share-desc {
  width: 80%;
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 1.8rem;
  & > span {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.share-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  & > span {
    font-size: 2.4rem;
  }
}

.share-list {
  margin-top: 1rem;
  & > button {
    margin-right: 1rem;
  }
  & > button > img {
    width: 5rem;
    cursor: pointer;
  }
}
