@import 'assets/styles/variable.scss';

.logo {
  width: 40rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.desc {
  width: 30rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: $sunflower-font;
  text-align: center;
  & > span {
    font-weight: 500;
    font-size: 2.2rem;
    font-family: $sunflower-font;
    color: $white-color;
  }
}

.start-btn {
  color: $mbti-bg-color;
  background-color: $mbti-btn-color;
  font-family: $sunflower-font;
  font-size: 3rem;
  border-radius: 4rem;
  padding: 2rem 5.5rem;
  margin: 3rem 0;
  transition-duration: 500ms;
}

.total-desc {
  font-family: $sunflower-font;
  font-size: 1.8rem;
  text-align: center;
  & > span {
    font-family: $sunflower-font;
    color: $white-color;
    font-size: 3rem;
  }
}
