@import 'assets/styles/variable.scss';

.logo {
  width: 40rem;
}

.title {
  font-size: 3rem;
  font-family: $sunflower-font;
  color: $white-color;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  width: 30rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: $sunflower-font;
  text-align: center;
  & > span {
    font-weight: 500;
    font-size: 2.2rem;
    font-family: $sunflower-font;
    color: $white-color;
  }
}

.start-btn {
  color: $white-color;
  background-color: $blue-color;
  font-family: $sunflower-font;
  font-size: 3rem;
  border-radius: 4rem;
  padding: 2rem 5.5rem;
  margin: 3rem 0;
  transition-duration: 500ms;
  &:hover {
    background-color: $violet-color;
  }
}

.total-desc {
  font-family: $sunflower-font;
  font-size: 1.8rem;
  text-align: center;
  & > span {
    font-family: $sunflower-font;
    color: $white-color;
    font-size: 3rem;
  }
}

@include breakpoint(sm) {
  .title {
    font-size: 1.9rem;
  }
  .logo {
    width: 25rem;
  }
  .desc {
    width: 23rem;
    font-size: 1.6rem;
    & > span {
      font-size: 2rem;
    }
  }
  .start-btn {
    font-size: 2rem;
    padding: 1.6rem 3rem;
  }
  .total-desc {
    font-size: 1.6rem;
    & > span {
      font-size: 2rem;
    }
  }
}
