@import 'assets/styles/variable.scss';
.logo {
  width: 35rem;
}
.statusArea {
  width: 80%;
  max-width: 60rem;
  margin: 4rem 0 2rem 0;
  user-select: none;
  & > span {
    font-size: 2rem;
    color: $mbti-btn-color;
  }
}
.statusBar {
  width: 100%;
  height: 1.2rem;
  background-color: $white-color;
  border-radius: 2rem;
  margin-top: 1rem;
}

.status {
  height: 100%;
  border-radius: 2rem;
  background-color: $mbti-btn-color;
  transition: width 0.5s;
}

.testParagraphArea {
  width: 80%;
  max-width: 60rem;
  height: 330px;
  margin-top: 2rem;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  padding: 2rem;
  user-select: none;
  & > p {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 1.6rem;
    }
  }

  & > div {
    width: 80%;
    max-width: 40rem;
  }
  & > div > button {
    width: 100%;
    padding: 2rem;
    background-color: $mbti-btn-color;
    border-radius: 0.6rem;
    color: $white-color;
    font-size: 2rem;
    margin-top: 2rem;
    user-select: none;
    @include breakpoint(sm) {
      font-size: 1.6rem;
    }
  }
}
