@import 'assets/styles/variable.scss';
@import 'assets/styles/font.scss';
.container {
  // margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin: 10px;

  &-search {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;

    &-inner {
      display: flex;

      & > span {
        margin: 10px;
        & > select {
          width: auto;
          font-size: 20px;
          font-family: $seoul-font;
        }
      }
    }
  }

  &-newButton {
    display: flex;
    justify-content: flex-end;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.newButton {
  font-size: 20px !important;
  margin: 10px !important;
  width: 100px !important;
  font-family: $seoul-font !important;

  background-color: $main-color !important;
  &:hover {
    background-color: $main-accent-color !important;
  }
}

// Select
.select {
  &-breed {
    width: 200px;
    font-size: 15px;
    font-family: $seoul-font;
  }
  &-gender {
    font-size: 15px;
    font-family: $seoul-font;
  }
}
