@import 'assets/styles/variable.scss';

.write {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  & > div {
    cursor: pointer;
    display: flex;
    padding: 7px 10px;
    font-size: 2rem;
    border-radius: 10px;
    justify-content: center;
    color: white;
    background-color: $main-color;
  }
  & > div:hover {
    background-color: $main-accent-color;
    transform: translateY(-2px);
  }
}
