@import 'assets/styles/variable.scss';
.board-list {
  position: relative;
  width: 90%;
  text-align: center;
  margin: auto;
}
.category ul li {
  position: relative;
  display: inline;
  font-size: 0.8vw;
  float: left;
  margin: 0 5px;
  cursor: pointer;
}
.click {
  color: black;
}
.default {
  color: rgb(170, 170, 170);
}
.list {
  margin: auto;
}
