@import 'assets/styles/variable.scss';

.container {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}
.no-data {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}
