@import 'assets/styles/variable.scss';

.container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 20px 0 50px 0;
}
.no-data {
  font-size: 2rem;
  font-weight: 600;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  & > span {
    color: $main-color;
    line-height: 1rem;
  }
  & > .button {
    color: $main-accent-color;
  }
  & > .button.disabled {
    color: $gray-color;
  }
}

@include breakpoint(md) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include breakpoint(sm) {
  .list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
