@import 'assets/styles/variable.scss';

.banner {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: $blue-color;
  justify-content: center;
  // margin-top:72px;
}

.container {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
}

.item {
  &_1 {
    flex: 1 1 0;
    align-self: center;
  }
  &_2 {
    flex: 1 1 0;
    align-self: flex-end;
  }
}

.title {
  font: {
    weight: 700;
    size: 50px;
  }
  text-align: center;
  color: $white-color;
}

.pat-container {
  display: flex;
  justify-content: flex-end;
}

@include breakpoint(md) {
  .pat {
    width: 250px;
  }
  .title {
    font: {
      size: 45px;
    }
  }
}

@include breakpoint(sm) {
  .pat {
    width: 200px;
  }
  .title {
    font: {
      size: 40px;
    }
  }
}
