@import 'assets/styles/variable.scss';

.description {
  padding: 0 1rem 1rem 1rem;
}
.name {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 0.6rem;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kind,
.gender,
.content {
  font-size: 1.2rem;
  color: $gray-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
