@import 'assets/styles/variable.scss';
@import 'assets/styles/font.scss';
.container {
  // margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin: 10px;

  &-search {
    display: flex;
    justify-content: center;
    margin: 10px;

    &-inner {
      display: flex;
      justify-content: space-between;

      & > span {
        margin: 10px;
        > select {
          width: auto;
          font-size: 20px;
          font-family: $spoqa-font;
        }
      }
    }
  }
}

.list {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.searchButton {
  font-size: 20px;
  margin: 10px;
  width: 100px;
  text-align: center;
  padding: auto;
  border-style: solid;
  border-color: $main-color;
  background-color: $main-color;
  color: $white-color;
}
