.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0.2rem 3rem 0.1rem rgb(199, 199, 199);
}
.navigation img {
  width: 20%;
  cursor: pointer;
}
