@import 'assets/styles/variable.scss';

.main-container {
  padding: 4rem;
}
.main-h1 {
  color: $blue-color;
  font-size: 4rem;
  font-weight: bolder;
}
.header p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.hr {
  opacity: 60%;
}
.sub-container {
  margin-top: 5rem;
}
.sub-h1 {
  color: $blue-color;
  font-size: 3rem;
  font-weight: bolder;
}
.functions {
  margin-top: 3rem;
}
.functions * {
  margin-left: 2rem;
}
.functions a img {
  width: 20%;
}
.pat-logo {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translateX(-30%);
  width: 25%;
}
