@import 'assets/styles/variable.scss';

.container {
  width: 100%;
  min-height: 80vh;
  overflow: auto;
}
.main-info {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  height: auto;
  flex-flow: wrap;
}
.main-img {
  display: flex;
  width: 25rem;
}
.main-content {
  display: flex;
  flex-flow: wrap;
  width: 40rem;
  justify-content: center;
  margin-top: 2rem;
}
.shelter-name {
  position: relative;
  width: 25rem;
  font-size: 3rem;
  height: 5rem;
  color: $blue-color;
  font-weight: 900;
}
.shelter-info {
  width: 25rem;
  height: 4rem;
}
.line {
  width: 90%;
  margin: 2rem 0 2rem 0;
  color: lightgray;
}
