@import 'assets/styles/variable.scss';

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button {
  &-selected {
    font-size: 20px !important;
    margin: 10px !important;
    width: 300px !important;
    font-family: $seoul-font !important;

    border-color: $main-color !important;
    background-color: $main-color !important;
    &:hover {
      background-color: #4d5996 !important;
    }
  }
  &-unselected {
    font-size: 20px !important;
    margin: 10px !important;
    width: 300px !important;
    font-family: $seoul-font !important;

    border-color: $main-color !important;
    background-color: $white-color !important;
    color: $main-color !important;
    &:hover {
      background-color: #eef0fd !important;
      border-color: #4d5996 !important;
    }
  }
}
