@import 'assets/styles/variable.scss';

.map-wrapper {
}

.info-box {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $white-color;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
}

.land {
  stroke: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.land.zero {
  fill: #989898;
}

.land.one {
  fill: #bcaaa4;
  &:hover {
    fill: $map-hover-color;
  }
}

.land.two {
  fill: #a1887f;
  &:hover {
    fill: $map-hover-color;
  }
}

.land.three {
  fill: #8d6e63;
  &:hover {
    fill: $map-hover-color;
  }
}

.land.four {
  fill: #795548;
  &:hover {
    fill: $map-hover-color;
  }
}

.land.five {
  fill: #4e342e;
  &:hover {
    fill: $map-hover-color;
  }
}

.land.six {
  fill: #3e2723;
  &:hover {
    fill: $map-hover-color;
  }
}
.sido {
  font-size: 1.2rem;
  font-family: $sunflower-font;
  font-weight: 900;
  user-select: none;
}
