@import 'assets/styles/variable.scss';

.map-wrapper {
}

.info-box {
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $white-color;
  border: 2px solid $violet-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.land {
  stroke: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.land.zero {
  fill: #fff0f3;
}

.land.one {
  fill: #ffb3c1;
  &:hover {
    fill: $blue-color;
  }
}

.land.two {
  fill: #ff758f;
  &:hover {
    fill: $blue-color;
  }
}

.land.three {
  fill: #ff4d6d;
  &:hover {
    fill: $blue-color;
  }
}

.land.four {
  fill: #c9184a;
  &:hover {
    fill: $blue-color;
  }
}

.land.five {
  fill: #a4133c;
  &:hover {
    fill: $blue-color;
  }
}

.land.six {
  fill: #800f2f;
  &:hover {
    fill: $blue-color;
  }
}
.sido {
  font-size: 1.2rem;
  font-family: $sunflower-font;
  font-weight: 900;
  user-select: none;
}
