@import 'assets/styles/variable.scss';

.map-wrapper {
}

.land {
  stroke: #fff;
  cursor: pointer;

  &:hover ~ .sido {
    fill: $white-color;
  }
}

.land.zero {
  fill: #aaa;
}

.land.one {
  fill: #86a3b8;
}

.land.two {
  fill: #e8d2a6;
}

.land.three {
  fill: #f48484;
}

.land.four {
  fill: #f55050;
}

.land.five {
  fill: #abc270;
}

.land.six {
  fill: #fec868;
}
.sido {
  font-size: 1.2rem;
  font-family: $sunflower-font;
  font-weight: 900;
  user-select: none;
}
