@import 'assets/styles/variable.scss';

.map-wrapper {
}
.info-box {
  font-size: 2rem;
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $white-color;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
}
.land {
  fill: $violet-color;
  stroke: #fff;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    fill: $black-color;
  }
}

.land.click {
  fill: $black-color;
}
