@import 'assets/styles/variable.scss';

.layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.layout-main {
  width: 100%;
  position: relative;
  flex: 1;
}
