@import 'assets/styles/variable.scss';

.container {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;

  &-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
    &-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 20px;
      margin-left: 20px;

      &-user {
        display: flex;
        align-items: center;
      }
      & > div {
        > span {
          font-size: 15px;
        }
      }
    }
  }

  &-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: flex-end;
  }

  &-picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
  }
  &-subpicture {
    display: flex;
    justify-content: center;
    &-inner {
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        margin: 10px;
      }
      & > div > img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &-info {
      display: flex;

      &-inner {
        display: flex;

        &-list {
          // text-align: center;
          & > div {
            margin: 10px;
            padding: 10px;
            // border-color: $blue-color;
            // border-style: solid;
            // color: $blue-color;
          }
        }

        &-content {
          text-align: left;
          font-weight: 700;
          & > div {
            margin: 10px;
            padding: 10px;
          }
        }
      }
    }

    &-character {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
      padding: 5px;
      & > div {
        margin: 10px;

        & > div {
          margin: 5px;
          // text-align: center
        }
      }
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
    }
  }
}

.thumbnail {
  display: flex;
  justify-content: center;
  & > img {
    width: 480px;
    margin-bottom: 10px;
  }
}
.title {
  font-size: 30px;
  margin: 20px;
  font-weight: 700;
}

.writer {
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: center;
  & > div {
    margin: 20px;
  }
}

.name {
  font-size: 30px;
  color: $blue-color;
  font-weight: 700;
}
.button {
  font-size: 20px !important;
  margin: 10px !important;
  width: 80px !important;
  font-family: $seoul-font !important;

  background-color: $blue-color !important;
  &:hover {
    background-color: #4d5996 !important;
  }
}

.stateButton {
  &Red {
    width: 100px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: red;
    color: $white-color;
  }
  &Orange {
    width: 100px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: orange;
    color: $white-color;
  }
}
