@import 'assets/styles/variable.scss';

.description {
  padding: 0 1rem 1rem 1rem;
}
.name {
  font-weight: 900;
  font-size: 1.7rem;
  margin-bottom: 0.6rem;
}

.kind,
.gender,
.age {
  font-size: 1.2rem;
  color: $gray-color;
}

.missingLogo {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  width: 60px;
  height: 30px;
  position: absolute;
  background-color: red;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
