@import 'assets/styles/variable.scss';
@import 'assets/styles/font.scss';

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.app-main {
  width: 100%;
  position: relative;
  flex: 1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
