@import 'assets/styles/variable.scss';

.badge {
  position: absolute;
  top: -1rem;
  left: -2rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  transform: rotate(-45deg);
  font-weight: 900;
  color: $white-color;
  &.zero {
    background-color: $state-zero;
  }
  &.one {
    background-color: $state-one;
  }
  &.two {
    background-color: $state-two;
  }
  &.three {
    background-color: $state-three;
  }
  &.four {
    background-color: $state-four;
  }
  &.five {
    background-color: $state-five;
  }
}
