@import 'assets/styles/variable.scss';

.items td {
  font-size: 1.3vw;
  white-space: nowrap;
}
.type {
  font-weight: bolder;
}
.title {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 30vw;
  cursor: pointer;
}
.title:hover {
  background-color: #bcaaa46b;
}
.type,
.author,
.count,
.registDate {
  width: 10%;
}
