@import 'assets/styles/variable.scss';

.description {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}
.description div {
  text-align: left;
}
.detail {
  width: 80%;
}
.name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.kind,
.gender,
.age {
  font-size: 1.2rem;
  color: $gray-color;
}
.state {
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 10px;
}
.state0 {
  background-color: $yellow-color;
}
.state1 {
  background-color: $main-accent-color;
  color: $white-color;
}
.state2 {
  background-color: $main-color;
  color: $white-color;
}
.state3 {
  background-color: $border-color;
  color: $white-color;
}
.fav-icon {
  width: 20%;
  justify-content: center;
}
