@import 'assets/styles/variable.scss';

.card {
  margin: 1%;
}
.description {
  padding: 2px;
}
.name {
  font-size: 2rem;
  font-weight: 900;
}
.fav-img {
  position: relative;
  width: 43px !important;
  height: 40px !important;
  float: right !important;
  margin-top: -70px;
  margin-right: 5px;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fav-img:hover {
  transform: translateY(-2px);
}
.state0,
.state1,
.state2 {
  position: relative;
  float: left;
  width: 70px;
  height: 30px;
  margin-bottom: -40px;
  z-index: 2;
  padding: 4px;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 900;
}
.state0 {
  background-color: $yellow-color;
}
.state1 {
  background-color: $main-color;
  color: white;
}
.state2 {
  background-color: $light-blue-color;
  color: white;
}
