@import 'assets/styles/variable.scss';

.items {
  position: relative;
  display: flex;
  width: 37rem;
  height: 13rem;
  margin: 10px;
  background-color: #f5f4f4;
}
.consulting-img img {
  width: 8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.contents {
  text-align: left;
  width: 25rem;
  margin-top: 2rem;
}
.shelter-name {
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
  color: $main-color;
  font-weight: 900;
}
.buttons button {
  width: 5rem;
  height: 2.5rem;
  margin-top: 10px;
  margin-right: 1rem;
}
.state0 {
  background-color: $lighter-blue-color;
  color: white;
  pointer-events: none;
}
.state1 {
  background-color: $green-color;
  color: white;
  pointer-events: none;
}
.state2 {
  background-color: $red-color;
  color: white;
  pointer-events: none;
}
.state3 {
  background-color: $yellow-color;
  pointer-events: none;
}
.state4 {
  background-color: lightgray;
  pointer-events: none;
}
.state5 {
  cursor: pointer;
  background-color: $purple-color;
  color: white;
}
.cancel {
  width: 10rem;
  background-color: $main-color;
  height: 2.5rem;
  color: white;
  border-radius: 30px;
  float: right;
  margin-bottom: 50px;
}
.cancel:hover {
  transform: translateY(-2px);
}
.disabled {
  background-color: $purple-color;
  color: white;
  opacity: 0.5;
  pointer-events: none;
}
