@import 'assets/styles/variable.scss';

.card div {
  display: inline-block;
  vertical-align: middle;
}
.shelter-img img {
  display: inline-block;
  width: 100%;
}
.shelter-name {
  font-weight: bolder;
}
.cancel {
  color: white;
  background-color: $blue-color;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}
.state0,
.state1,
.state2 {
  color: white;
}
.state0 {
  background-color: $skyblue-color;
}
.state1 {
  background-color: $green-color;
}
.state2 {
  background-color: $red-color;
}

/* desktop 규격 */
@media screen and (min-width: 1024px) {
  .card div {
    margin: 20px 2px 0 2px;
  }
  .shelter-img {
    width: 20%;
    height: 100px;
  }
  .shelter-img img {
    width: 100%;
  }
  .contents {
    width: 50%;
    height: 150px;
    text-align: left;
    font-size: 1.5rem;
    padding-top: 35px;
  }
  .contents p {
    margin-left: 20px;
  }
  .shelter-name {
    font-size: larger;
  }
  .buttons {
    width: 20%;
    height: 200px;
  }
  .cancel {
    padding: 8px;
    font-size: 1.5rem;
  }
  .cancel:hover {
    transform: translateY(-3px);
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  }
  .state0,
  .state1,
  .state2 {
    margin-top: 150px;
    margin-left: 30px;
    width: 50px;
    height: 30px;
    font-size: larger;
  }
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
  .card div {
    margin: 10px 1px 0 1px;
  }
  .shelter-img {
    width: 15%;
    height: 50px;
    padding-top: 10px;
  }
  .contents {
    width: 50%;
    height: 75px;
    text-align: left;
    font-size: 1rem;
    padding-top: 20px;
  }
  .contents p {
    margin-left: 15px;
  }
  .shelter-name {
    font-size: larger;
  }
  .buttons {
    width: 20%;
    height: 100px;
    padding-left: 10px;
  }
  .cancel {
    width: 50px;
    height: 25px;
    font-size: 1rem;
  }
  .state0,
  .state1,
  .state2 {
    margin-top: 80px;
    margin-left: 10px;
    width: 40px;
    height: 20px;
    font-size: 1rem;
  }
}

/* mobile 규격 */
@media screen and (max-width: 540px) {
  .card div {
    margin: 10px 1px 0 1px;
  }
  .shelter-img {
    width: 15%;
    height: 50px;
    padding-top: 10px;
    padding-left: 5px;
  }
  .contents {
    width: 55%;
    height: 75px;
    text-align: left;
    font-size: 1pt;
    padding-top: 10px;
  }
  .contents p {
    margin-left: 20px;
  }
  .shelter-name {
    font-size: larger;
  }
  .buttons {
    width: 25%;
    height: 80px;
    padding-left: 3px;
  }
  .cancel {
    width: 45px;
    height: 25px;
    font-size: 3pt;
  }
  .state0,
  .state1,
  .state2 {
    margin-top: 30px;
    width: 30px;
    height: 20px;
    font-size: 0.7rem;
  }
}
