@import 'assets/styles/variable.scss';

.type-box {
  font-size: 2rem;
  color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 4rem;
  &-item {
    width: 20rem;
    text-align: center;
    transition: all 0.3s;
    &.selected {
      color: $main-accent-color;
      &::after {
        border: 2px solid $main-accent-color;
      }
    }
    &:hover {
      color: $main-accent-color;
    }
    &:hover::after {
      border: 2px solid $main-accent-color;
    }
    &::after {
      margin-top: 1rem;
      display: block;
      content: '';
      width: 100%;
      border: 1px solid $main-color;
    }
  }
}
