@import 'assets/styles/variable.scss';
.container {
  font-size: 17px;
  margin: 10px;
  animation: modal-bg-show 0.3s;
  &-scheduleBnt {
    display: flex;
    justify-content: flex-start;
  }

  & > div {
    margin: 0 0 5px 0;
  }
}
.title {
  font-size: 17px;
  & > span {
    margin-left: 20px;
  }
}
.volunteerDate {
  font-size: 17px;
  & > span {
    margin-left: 20px;
  }
}
.scheduleBnt {
  width: 50px;
  border: 2px solid $main-color;
  color: $white-color;
  background-color: $main-color;
  border-radius: 4px;
  margin: 10px 5px 10px 0px;
  text-align: center;
  padding: 5px;

  &:hover {
    opacity: 90%;
    background-color: $main-accent-color;
  }

  &Active {
    padding: 5px;
    width: 50px;
    border: 2px solid $main-accent-color;
    color: $white-color;
    background-color: $main-accent-color;
    border-radius: 4px;
    margin: 10px 5px 10px 0px;
    text-align: center;
  }
}

.scheduleItem {
  margin: 5px 0 5px 0;
  animation: modal-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttonActive {
  background-color: red;
}

.active {
  background-color: $main-accent-color;
}
