@import 'assets/styles/variable.scss';

.menu-item {
  position: relative;
  transition: all 0.3s;
  padding: 2rem $spacing-lg;
  & > div {
    cursor: pointer;
  }
}

@include breakpoint(md) {
  .menu-item {
    padding: 2rem $spacing-md;
    & div:first-child {
      font-size: 1.6rem;
    }
  }
}
