@import 'assets/styles/variable.scss';

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}

.mobile-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  cursor: pointer;
  display: none;
  & > svg {
    color: $main-accent-color;
  }
}
.mobile {
  width: 100%;
  display: none;
}

@include breakpoint(sm) {
  .menu {
    height: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.8s;
    position: absolute;
    top: -48rem;
    left: 0;
    z-index: -1;
    &.active {
      transform: translateY(55.2rem);
      &.logout {
        transform: translateY(55rem);
      }
    }
  }

  .mobile-menu {
    display: block;
  }
  .mobile {
    display: block;
  }
}
