@import 'assets/styles/variable.scss';

.profile {
  width: 14rem;
  height: 100%;
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  &:hover {
    border-bottom: 4px dashed $main-color;
  }
  &:hover > .submenu {
    transform: translateY(0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  &-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  &-name {
    font-weight: 700;
  }
}

.submenu {
  width: 100%;
  position: absolute;
  background-color: $white-color;
  height: auto;
  overflow: hidden;
  top: 100%;
  left: 0;
  z-index: -5;
  transform: translateY(-100%);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transition: all 0.4s;
}
.subitem {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.sublink {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  &:hover {
    background-color: $main-color;
    color: $white-color;
  }
}
.sublink {
  font-size: 1.6rem;
}

@include breakpoint(md) {
  .submenu {
    width: 100%;
  }
  .profile {
    width: 9rem;
    gap: 0.5rem;
  }
  .profile-img {
    width: 3rem;
    height: 3rem;
  }
  .profile-name {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .sublink {
    font-size: 1.2rem;
  }
}

@include breakpoint(sm) {
  .profile {
    background-color: $white-color;
    width: 100%;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    user-select: none;
    justify-content: center;
    &:hover {
      background-color: $main-color;
    }
    &-name {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  .submenu {
    display: none;
  }
}
