@import 'assets/styles/variable.scss';

.submenu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1.3rem;
  background-color: $white-color;
  border-radius: 0.4rem;
  box-shadow: 10px 12px 5px -6px rgba(128, 123, 123, 0.51);

  & > .submenu-item {
    text-align: center;
    padding: $spacing-sm 0;
  }
}

@include breakpoint(md) {
  .submenu {
    font-size: 1.2rem;
  }
}
