@font-face {
  font-family: 'GownDodum';
  src: url('../fonts/Gowun_Dodum/GowunDodum-Regular.ttf');
}

@font-face {
  font-family: 'Spoqa';
  font-weight: 100;
  src: url('../fonts/Spoqa/SpoqaHanSansNeo-Thin.otf');
}

@font-face {
  font-family: 'Spoqa';
  font-weight: 300;
  src: url('../fonts/Spoqa/SpoqaHanSansNeo-Light.otf');
}

@font-face {
  font-family: 'Spoqa';
  font-weight: 500;
  src: url('../fonts/Spoqa/SpoqaHanSansNeo-Regular.otf');
}

@font-face {
  font-family: 'Spoqa';
  font-weight: 700;
  src: url('../fonts/Spoqa/SpoqaHanSansNeo-Medium.otf');
}

@font-face {
  font-family: 'Spoqa';
  font-weight: 900;
  src: url('../fonts/Spoqa/SpoqaHanSansNeo-Bold.otf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 900;
  src: url('../fonts/Sunflower/Sunflower-Bold.ttf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 500;
  src: url('../fonts/Sunflower/Sunflower-Medium.ttf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 100;
  src: url('../fonts/Sunflower/Sunflower-Light.ttf');
}

@font-face {
  font-family: 'Hyemin';
  font-weight: 500;
  src: url('../fonts/Hyemin/IM_Hyemin-Regular.otf');
}

@font-face {
  font-family: 'Hyemin';
  font-weight: 900;
  src: url('../fonts/Hyemin/IM_Hyemin-Bold.otf');
}

@font-face {
  font-family: 'BDJA';
  src: url('../fonts/BDJA/BDJA.ttf');
}

@font-face {
  font-family: 'Noto';
  font-weight: 500;
  src: url('../fonts/Noto/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'Noto';
  font-weight: 700;
  src: url('../fonts/Noto/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: 'Noto';
  font-weight: 900;
  src: url('../fonts/Noto/NotoSansKR-Black.otf');
}
