@font-face {
  font-family: 'GownDodum';
  src: url('../fonts/Gowun_Dodum/GowunDodum-Regular.ttf');
}

@font-face {
  font-family: 'Dongle';
  font-weight: 900;
  src: url('../fonts/Dongle/Dongle-Bold.ttf');
}

@font-face {
  font-family: 'Dongle';
  font-weight: 500;
  src: url('../fonts/Dongle/Dongle-Regular.ttf');
}

@font-face {
  font-family: 'Dongle';
  font-weight: 100;
  src: url('../fonts/Dongle/Dongle-Light.ttf');
}

@font-face {
  font-family: 'Nanum_Gothic';
  font-weight: 900;
  src: url('../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf');
}

@font-face {
  font-family: 'Nanum_Gothic';
  font-weight: 500;
  src: url('../fonts/Nanum_Gothic/NanumGothic-Bold.ttf');
}

@font-face {
  font-family: 'Nanum_Gothic';
  font-weight: 100;
  src: url('../fonts/Nanum_Gothic/NanumGothic-Regular.ttf');
}

@font-face {
  font-family: 'Poor_Story';
  src: url('../fonts/Poor_Story/PoorStory-Regular.ttf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 900;
  src: url('../fonts/Sunflower/Sunflower-Bold.ttf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 500;
  src: url('../fonts/Sunflower/Sunflower-Medium.ttf');
}

@font-face {
  font-family: 'Sunflower';
  font-weight: 100;
  src: url('../fonts/Sunflower/Sunflower-Light.ttf');
}
