// color 관련
$blue-color: #5d6dbe;
$violet-color: #6c5ce7;
$white-color: #ffffff;
$black-color: #222f3e;
$beige-color: #ebceb9;
$gray-color: #95a5a6;
$mbti-bg-color: #eae0da;
$mbti-btn-color: #694e4e;
$mbti-border-color: #c2c7c7;
// size 관련
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

$header-height: 7.2rem;
$footer-height: 7.2rem;

// font 관련
$gowndodum-font: GownDodum;
$sunflower-font: Sunflower;
$spoqa-font: Spoqa;
$hyemin-font: Hyemin;

// media break point size
$sm: 640px;
$md: 1024px;

@mixin breakpoint($point) {
  // 0px ~ 640px
  @if $point == sm {
    @media (max-width: $sm) {
      @content;
    }
  }
  // 640px ~ 1024px
  @if $point == md {
    @media (max-width: $md) {
      @content;
    }
  }
}
